aaa new-model
aaa authentication login default local
aaa authorization exec default local
username {{ ansible_ssh_user }} privilege 15 secret {{ ansible_ssh_pass }}

hostname {{ inventory_hostname }}
ip domain-name {{ domain_name }}

crypto key generate rsa modulus 2048

line vty 0 4
transport input ssh
login local

{# first start with link aggregation #}
{% if inventory_hostname in link_aggregation %}
  {%- for channel_number in link_aggregation[inventory_hostname] %}
    {%- for interface in link_aggregation[inventory_hostname][channel_number] %} 
interface {{ interface }}
  channel-group {{ channel_number.split("Po")[1] }} mode active
  no shutdown
   {% endfor -%}
  {% endfor -%}
{% endif %}

{# now configure trunks on switches #}
{% if inventory_hostname in l2_links and inventory_hostname in groups['switches'] %}
  {%- for interface in l2_links[inventory_hostname] %} 
interface {{ interface }}
  switchport mode trunk
  switchport trunk allowed vlan {{ l2_links[inventory_hostname][interface] }}
  no shutdown
  {% endfor -%}
{% endif %}

{# now configure trunks on routers #}
{% if inventory_hostname in l2_links and inventory_hostname in groups['routers'] and not inventory_hostname in groups['switches'] %}
  {%- for interface in l2_links[inventory_hostname] %}  
interface {{ interface.split(".")[0] }}
  no shutdown
interface {{ interface }}
  encapsulation dot1q vlan {{ l2_links[inventory_hostname][interface] }}
  {% endfor -%}
{% endif %}

{# now configure ip addresses on switches #}
{% if inventory_hostname in l3_intf and inventory_hostname in groups['switches'] %}
  {%- for interface in l3_intf[inventory_hostname] %} 
interface {{ interface }}
  no switchport
  ip address {{ l3_intf[inventory_hostname][interface] | ipaddr('address') }} {{ l3_intf[inventory_hostname][interface] | ipaddr('netmask') }}
  no shutdown
  {% endfor -%}
{% endif %}

{# now configure ip addresses on routers #}
{% if inventory_hostname in l3_intf and inventory_hostname in groups['routers'] and not inventory_hostname in groups['switches'] %}
  {%- for interface in l3_intf[inventory_hostname] %} 
interface {{ interface }}
  ip address {{ l3_intf[inventory_hostname][interface] | ipaddr('address') }} {{ l3_intf[inventory_hostname][interface] | ipaddr('netmask') }}
  no shutdown
  {% endfor -%}
{% endif %}
