!
hostname BR-AS02
!
boot-start-marker
boot-end-marker
!
no ip routing
!
no ip cef
!
interface Ethernet0/0
switchport trunk encapsulation dot1q
switchport trunk native vlan 999
switchport trunk allowed vlan 10-50
switchport mode trunk
duplex auto
!
!
interface Vlan30
ip address 10.0.2.131 255.255.255.224
!
ip default-gateway 10.0.2.129
!
no ip http server
!
!
control-plane
!
!
